@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.6em; }
  .m { font-size: 0.8em; }
  .l { font-size: 1.0em; }
}