<li class="list-group-item">
<% if activity.trackable %>
	<span class="glyphicon glyphicon-thumbs-up"></span>
  	<small class="text-muted text-uppercase"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
	<strong><%= activity.owner.username if activity.owner %></strong> has given you feedback for your quest completion of
  <%= link_to activity.trackable.quest.title, activity.trackable %>.
<% else %>
	<span class="glyphicon glyphicon-remove-sign"></span>
  	<small class="text-muted text-uppercase"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  It appears this quest no longer exists!
<% end %>
</li>